.header-title {
  height: 70px;
  font-size: 1.25rem;
  margin: 0 auto;
  text-align: center;
  padding: 0.625rem;
}

.header-title h1 {
  margin: 10px;
  letter-spacing: 2px;
  font-weight: lighter;
  text-align: center;
  align-items: center;
}