.realizations-all {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  text-align: center;

  @media (max-width: 1000px) {
    display: block;
  }
}

div.circle-text {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #2c2e54;
  font-size: 20px;
  color: white;
  z-index: 1;
}

.div-circle {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.portfolio-book:hover {
  .div-circle {
    opacity: 1;
  }
}

a .circle-text {
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}