*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "Main";
@import "Navigation";
@import "HeaderTitle";
@import "MainDiv";
@import "Footer";
@import "Carousel";
@import "About";
@import "Portfolio";
@import "Realizations";
@import "ContactForm";
@import "Video";
@import "Login";
@import "Blog";


.pictures img {
  object-fit: cover;
}

.button-upload-div, .btn {
  margin: 0 auto;
  text-align: center;
}

.button-upload {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  color: white;
  width: 10rem;
  cursor: pointer;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  left: 50%;
  font-weight: bold;
}

.btn-file {
  position: relative;
  overflow: hidden;
  border: 1px solid black;
  background: black;
  color: white;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  width: 10rem;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: right;
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}