.footer-final {
  text-align: center;
  height: 0.9375rem;
  padding-top: 0.625rem;
  margin-top: 30px;

  @media (max-width: 500px) {
    height: 0.5rem;
    font-size: 0.5rem;
  }
}

.container-footer {
  font-size: 1rem;
  height: 100px;
  text-align: center;
  line-height: 20px;
  margin-top: 10px;
}

.contact-details {
  margin: 0 auto;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  margin: 7px;
  width: 25px;
}