.portfolio-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 20px;
  position: relative;

  @media (max-width: 1000px) {
    padding-bottom: 20px;
    margin: 0 auto;
    align-items: center;
  }
}

.portfolio-all {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;

  @media (max-width: 1000px) {
    display: block;
  }
}

.photo-portfolio {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: 2;
  object-fit: cover;
}

.div-circle {
  width: 300px;
  height: 300px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;

  @media (max-width: 1000px) {
    text-align: center;
  }


.portfolio-book a {
  position: absolute;
  display: block;
}

.portfolio-book {
  width: 300px;
  height: 300px;
}}