.video-container {
  margin: 0 auto;
  text-align: center;
}

.video-title {
  margin: 15px;
  font-weight: bold;
  font-size: 20px;
  color: lightgrey;
}

.video-container video {
  border: none;
  width: 97%;
  max-height: 700px;
}