.video-link {
  position: relative;
}

.video-div {
  width: 300px;
}

.video-div p {
  position: absolute;
  font-size: 20px;
  line-height: 25px;
  color: white;
  text-align: center;
}